<header>
    <div class="headBox">
        <span class="navbtns" onclick="window.location.href='/'">Home</span>
        <span class="navbtns" onclick="window.location.href='/about'">About Project</span>
        <span class="navbtns" onclick="window.location.href='/contact'">Contact</span>
    </div>
</header>