<header>
    <div class="headBox">
        <span class="navbtns" onclick="window.location.href='/'">Home</span>
        <span class="navbtns">About Project</span>
        <span class="navbtns">Contact</span>
    </div>
</header>