<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="main">
            <div class="modules">
                <h1 class="heading2">Starting Date :25 October 2024</h1>
                <h1 class="heading2">Completion Date:Currently Working</h1>
            </div>
        </div>

        <div class="main">
            <div class="modules">
                <h1 class="heading1">Modules used:</h1>
                <ul>
                    <li class="heading2">express</li>
                    <li class="heading2">body-parser</li>
                    <li class="heading2">multer</li>
                    <li class="heading2">pdfkit</li>
                    <li class="heading2">ejs</li>
                </ul>
            </div>
        </div>
        
    </main>
    <script src="app.js"></script>
</body>
</html>
