<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download PDF</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="main">
        <h1 class="heading">Images to PDF</h1>
        <button class="btns2" onclick="window.location.href='/downloadPdf'">Download PDF</button>
          
    </div>
    <script src="app.js"></script>
</body>
</html>