<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="main">
            <button class="btns1" onclick="window.location.href='/imagetopdf'">Image to PDF</button>
            <button class="btns1" onclick="window.location.href='/texttopdf'">Text to PDF</button>
        </div>
    </main>
    <script src="app.js"></script>
</body>
</html>