<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to Images</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="main">
        <h1 class="heading">PDF to Images</h1>
        <form action="/uploadPdf" method="POST" enctype="multipart/form-data" >
            <label class="btns2" for="inputPdf">Choose Pdf</label>
            <input id="inputPdf" type="file" id="fileUpload" name="images">
            <button class="btns2" type="submit">Upload</button>
          </form>
    </div>
    <script src="app.js"></script>
</body>
</html>